openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW The Absolute Artion Web API'
  description: 'Web Resources Specification (A7) for The Absolute Artion'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url:  https://git.fe.up.pt/lbaw/lbaw2122/lbaw2184
 

  tags:
  - name: 'M01: Authentication'
    description: 'Web resources associated with user authentication. Includes the following system features: login/logout, registration, password recovery.'
  - name: 'M02: Individual Profile'
    description: 'Web resources associated with individual profile management. Includes the following system features: view and edit personal profile information, list bids, rate auctioneers, list notifications, create and list transactions.'
  - name: 'M03: Auctions'
    description: 'Web resources associated with auctions posted. It is possible to see the auction catalog, search for and create new auctions, see auction pages, participate by bidding or commenting, follow auctions to keep updated.'
  - name: 'M04: Static pages'
    description: 'Web resources with static content are associated with this module: about, contact, services and faq.'
  - name: 'M05: User Administration'
    description: 'Web resources associates with user management, specifically: view and search users, delete or block user accounts, view and change user information, and view system access details for each user.'

paths:
  /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: PUB'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Log-in UI15'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Processes the login form submission. Access: PUB'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302User:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
                302Admin:
                 description: 'Successful authentication. Redirect to admin page.'
                 value: '/admin/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Logout Action'
     description: 'Logout the current authenticated user. Access: USR, ADM'
     tags:
       - 'M01: Authentication'
     responses:
       '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to home.'
                 value: '/home'

 /register:
   get:
     operationId: R104
     summary: 'R104: Register Form'
     description: 'Provide new user registration form. Access: PUB'
     tags:
       - 'M01: Authentication'
     responses:
       '200':
         description: 'Ok. Show Sign-Up UI16'

   post:
     operationId: R105
     summary: 'R105: Register Action'
     description: 'Processes the new user registration form submission. Access: PUB'
     tags:
       - 'M01: Authentication'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               picture:
                 type: string
                 format: binary
             required:
               - email
               - password

     responses:
       '302':
         description: 'Redirect after processing the new user information.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

  /users/{id}:
   get:
     operationId: R201
     summary: 'R201: View user public profile'
     description: 'Show the user image, name, description, average rating, email and selling items. Access: PUB'
     tags:
       - 'M02: Individual Profile'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Show User Profile UI10'


  /users/{id}/profile: #Mostra o perfil para editar
    get:
      operationId: R202
      summary: 'R202: View user profile'
      description: 'Show the individual user profile and allow editing. Access: USR'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Profile UI10'
 

 /api/works:
   get:
     operationId: R302
     summary: 'R302: Search Auctions API'
     description: 'Searches for Auctions and returns the results as JSON. Access: PUB.'

     tags:
       - 'M03: Auctions'

     parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: Auction
         description: Category of the auction
         schema:
           type: string
         required: false
       - in: query
         name: User name 
         description: Auctioneer of the auction
         schema:
           type: string
         required: false
     
     responses:
       '200':
         description: Success
         content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: integer
                   title:
                     type: string
                   description:
                     type: string
                   images:
                     type: string
                     format: binary
                   auctioneer:
                     type: string
                   deadline:
                     type: time
                   initial price:
                     type: float
                   greatest bid:
                     type: float
                   
                   
               example:
                 - id: 5
                   title: Pintura Surrealista
                   description: A minha perspetiva de uma estante prestes a cair pintado em óleo na tela. 80*30
                   images: ???
                   auctioneer: Hokusai Nagi
                   deadline: 36:20:49  
                   initial price: 30€
                   greatest bid: 47,56 €
                 - id: 47
                   title: Vaso em cerâmica
                   description: Vaso em forma de uma esfera branca com riscas pretas e azuis.
                   images: ???
                   auctioneer: Daniela Soares 
                   deadline: 00:36:14  
                   initial price: 2 €
                   greatest bid: 44 €
