openapi: 3.0.0

info:
  version: '1.0'
  title: 'LBAW The Absolute Artion Web API'
  description: 'Web Resources Specification (A7) for The Absolute Artion'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url:  https://git.fe.up.pt/lbaw/lbaw2122/lbaw2184
 

  tags:
  - name: 'M01: Authentication'
    description: 'Web resources associated with user authentication. Includes the following system features: login/logout, registration, password recovery.'
  - name: 'M02: Individual Profile'
    description: 'Web resources associated with individual profile management. Includes the following system features: view and edit personal profile information, list bids, rate auctioneers, list notifications, create and list transactions.'
  - name: 'M03: Auctions'
    description: 'Web resources associated with auctions posted. It is possible to see the auction catalog, search for and create new auctions, see auction pages, participate by bidding or commenting, follow auctions to keep updated.'
  - name: 'M04: Static pages'
    description: 'Web resources with static content are associated with this module: about, contact, services and faq.'
  - name: 'M05: User Administration'
    description: 'Web resources associated with user management, specifically: view and search users, delete or block user accounts, view and change user information, and view system access details for each user.'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show Log-in UI15'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:          # <!--- form field name
                  type: string
                password:    # <!--- form field name
                  type: string
              required:
                  - email
                  - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302User:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Admin:
                  description: 'Successful authentication. Redirect to admin page.'
                  value: '/admin/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:

    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to home.'
                  value: '/home'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI16'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'
                  
  /recoverPassword:
    get:
      operationId: R106
      summary: 'R105: Recover Password'
      description: 'Lets the user replace the password. Access: PUB'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show Recover Password UI17'     
    post:
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email

      responses:
       '200':
         description: 'Email successfully sent'
       '403':
         description: 'Email not recognized'
         value: '/recoverPassword'
  
  

  /users/{id}:
    get:
      operationId: R201
      summary: 'R201: View user public profile'
      description: 'Show the user image, name, description, average rating, email and selling items. Access: PUB'
      tags:
        - 'M02: Individual Profile'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show User Profile UI10'


  /users/{id}/profile: #Mostra o perfil para editar
    get:
      operationId: R202
      summary: 'R202: View user profile'
      description: 'Show the individual user profile and allow editing. Access: USR'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Profile UI10'

  /users/{id}/profile/bids:
    get:
      operationId: R203
      summary: 'R203: View user bids'
      description: 'Show the individual user bid history. Access: USR'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Bid History UI1X'

  /users/{id}/profile/ratings:
    get:
      operationId: R204
      summary: 'R204: View user ratings'
      description: 'Show the ratings done by previous buyers of that user. Access: PUB'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Ratings UI1X'


  /users/{id}/notifications:
    get:
      operationId: R205
      summary: 'R205: View user notifications'
      description: 'Show the notifications created for that user. Access: USR'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Notifications UI1X'


  /users/{id}/newtransaction:
    post:
      operationId: R206
      summary: 'R206: Create a new transaction'
      description: 'Allows user to make a new movement on their account; transfering the money from the site to a real bank account or the other way around. Access: USR'
      tags:
        - 'M02: Individual Profile'

      requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               in/out:
                 type: string
               value:
                 type: float
             required:
                  - in/out
                  - value
      responses:
       '302':
         description: 'Redirect after transaction confirmation.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful transaction. Redirect to profile.'
                 value: '/users/{id}/profile'
               302Failure:
                 description: 'Failed transaction. Redirect to profile.'
                 value: '/users/{id}/profile'


  /users/{id}/transactions:
    get:
      operationId: R207
      summary: 'R207: View user transactions'
      description: 'Show the transactions done by that user. Includes all credit movement. Access: USR'
      tags:
        - 'M02: Individual Profile'
      parameters:
        - $ref: '#/components/parameters/ID'

      responses:
        '200':
          description: 'Ok. Show User Transactions UI1X'
 

  /api/catalog:
    get:
      operationId: R301
      summary: 'R301: View Auctions Catalog'
      description: 'Show the Auctions Catalog ordered by last bid made and allow filtering the displayed auctions. Access: PUB'
      tags:
        - 'M03: Auctions'
      parameters:
       - in: query
         name: Category
         description: Category wanted by the visitor of the catalog
         schema:
           type: string
         required: false
         - in: query
         name: color
         description: color wanted by the visitor of the catalog
         schema:
           type: string
         required: false
    
      responses:
        '200':
          description: 'Ok. Show Auction Catalog UI12'

  /api/search:
    get:
      operationId: R302
      summary: 'R302: Search Auctions API'
      description: 'Searches for Auctions and returns the results as JSON. Access: PUB.'

      tags:
        - 'M03: Auctions'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: Auction
          description: Category of the auction
          schema:
            type: string
          required: false
        - in: query
          name: User name 
          description: Auctioneer of the auction
          schema:
            type: string
          required: false
     
      responses:
        '200':
          description: 'Ok. Show Auction Search UI13'
          content:
            application/x-www-form-urlencoded:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    images:
                      type: string
                      format: binary
                    auctioneer:
                      type: string
                    deadline:
                      type: time
                    initial price:
                      type: float
                    greatest bid:
                      type: float
                   
                   
                example:
                  - id: 5
                    title: Pintura Surrealista
                    description: A minha perspetiva de uma estante prestes a cair pintado em óleo na tela. 80*30
                    images: ???
                    auctioneer: Hokusai Nagi
                    deadline: 36:20:49  
                    initial price: 30€
                    greatest bid: 47,56 €
                  - id: 47
                    title: Vaso em cerâmica
                    description: Vaso em forma de uma esfera branca com riscas pretas e azuis.
                    images: ???
                    auctioneer: Daniela Soares 
                    deadline: 00:36:14  
                    initial price: 2 €
                    greatest bid: 44 €


  /api/newpost:
    post:
      operationId: R303
      summary: 'R303: Create Auction'
      description: 'Allows user to create a new Auction. Access: USR.' 

      tags:
        - 'M03: Auctions'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - initial_price
                - name
                - deadline
                - item_description
                - owner
                - item_image
                - category
              properties:
                initial_price:
                  type: float
                name:
                  type: string
                deadline:
                  type: time
                item_description:
                  type: float
                category:
                  type: string
                owner:
                  type: id
                item_image:
                  type: string
                  format: binary


  /api/auctions/{id}:
    get:
      operationId: R304
      summary: 'R304: View Auction'
      description: 'View all public information regarding an auction. Access: PUB.' # Não seria Auctioneer? - joao
      tags:
        - 'M03: Auctions'
      parameters:
        - $ref: '#/components/parameters/ID'
    
      responses:
        '200':
          description: 'Ok. Show Auction Page UI14'
          content:
            application/x-www-form-urlencoded:
              schema:
                  type: object
                  properties:
                    name:
                      type: string
                    item_description:
                      type: string
                    category:
                      type: string
                    images:
                      type: string
                      format: binary
                    owner:
                      type: string
                    deadline:
                      type: time
                    initial_price:
                      type: float
                    greatest_bid:
                      type: float


  /api/auctions/{id}:
    put:
      operationId: R305
      summary: 'R305: Follow Auction'
      description: 'Allows user to follow an auction. Access: USR.'
      tags:
        - 'M03: Auctions'
      parameters:
        - $ref: '#/components/parameters/ID'
      
  /api/auctions/{id}/comment:
    put:
      operationId: R306
      summary: 'R306: Comment on Auction'
      description: 'Allows user to comment on an auction. Access: USR.'
      tags:
        - 'M03: Auctions'
      parameters:
        - $ref: '#/components/parameters/ID'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string

  /api/auctions/{id}/bid:
    put:
      operationId: R307
      summary: 'R307: Bid on Auction'
      description: 'Allows user to bid on an auction. Access: USR.'
      tags:
        - 'M03: Auctions'
      parameters:
        - $ref: '#/components/parameters/ID'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: float
      responses:
      '200':
        description: 'Bid succssesfully done'
      '403':
        description: 'Bid failed'


              
